/* NOTE: Mobile First */

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* Header */
header {
    padding-top: 9rem;
    padding-bootom: 8rem;
    background-color: #f1f5f9;
}

/* Main Galery */
#main {
    padding-top: 6rem;
    padding-bottom: 8rem;
}

.container {
    width: 100%;
    margin: auto;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 100%;
    padding: 0.5rem;
}

.card-content {
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 100%;
}

.card-content:hover {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.image-container {
    postition: relative;
    height: 300px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desc-container {
    padding: 1rem;
    postition: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #10b981; // primary
    transition-duration: 1000ms;
}

.card-content:hover .desc-container {
    height: 100%;
    bottom: 0;
}

.desc-title {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: white;
    margin: 0;
    text-transform: capitalize;
}

.desc-text {
    color: white;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
}

/* Footer */
footer {
    padding-top: 4rem;
    padding-bottom: 3rem;
    background-color: #1e293b;
}

.footer-text {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
    margin: 0;
    color: #64748b;
    text-align: center;
}

/* Responsif */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .card {
        width: 46%;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .card {
        width: 30%;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }

    .card {
        width: 23%;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}
