* {
    box-sizing: border-box;
}

.container {
    max-width: 80%;
    margin: auto;
}

.btn4 {
    display: none;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 100%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}

@media (min-width: 768px) {
    /* .column {
        flex: 50%;
    } */
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    /* .column {
        flex: 25%;
    } */

    .btn4 {
        display: block;
    }
}